
#header {
    background-color: #e0eeef;
    text-align: left;
    padding: 10px;
    color: silver;
    font-family: Helvetica, Arial, sans-serif;
}


#pygeo1 {
    font-size:13pt;
    font-weight:bold;
}
#pygeo2 {
    font-size:9pt;
    font-weight:normal;
}

a:hover {background:yellow;}
a[name]:hover {background: none;}

#nav {
    background : #7799ee;
    padding:5px;
    text-align:center;
    font-size:10pt;
    font-weight:bold;
}
#nav ul {
    margin:0;
    padding:0
}

#nav li {
    display:inline;
    list-style:none;
    margin:0;
    padding:5px;
}

#sub{
    font-family : monospace;
    font-size:12pt;
    font-weight:bold;

}

h1.title {
	font-size: 16pt;
	background : #66EEEE;
	font :  bolder;
	text-align: left;
	font-weight :  lighter;
}

h1
{
	font-size: 15pt;
        background-color: #e0eeef;
	font :  bolder;
	text-align: left;
}

h2 {
	font-size: 14pt;
        background-color: #e0eeef;
	font :  bolder;
	text-align: left;
	font-weight :  lighter;
}

h3 {
	font-size: 12pt;
        background-color: #e0eeef;
	font :  bolder;
	text-align: left;
	font-weight :  lighter;
}

td.docs { border: 1px solid blue;
          padding: 1em;   }


td.field-body { border-width: 1px; 
                border-color: #7799ee;
                padding: 1em; }


td.sidie {
    background-color:#66EEEE;
    text-align: left;
    padding: 10px;

}

TABLE {
	font : bolder normal;
}
